[Unit]
Description=Format EBS volume if needed
# ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/format_EBS.sh
TimeoutStartSec=60