[Unit]
Description=Format EBS volume if needed

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c \
'(/usr/sbin/blkid /dev/xvdb) || \
(/usr/sbin/wipefs -fa /dev/xvdb && /usr/sbin/mkfs.ext4 /dev/xvdb)'

